* {
    margin: 0;
    padding: 0;
}

*, :after, :before { box-sizing: border-box; }

body {
    background-color: #FAFAFA;
    font-family: "Montserrat", snas-serif;
}


/* MOBILE VERSION */

@media screen and (max-width: 650px) {

/* FIRST SECTION */
    .first-section {
        display: flex;
        flex-direction: column;
    }
    .first-image {
        margin: 10% 20% 6% 20%;
    }
    .image1 {
        text-align: center;
    }
    h1 {
        font-size: 28px;
        margin-bottom: 6%;
        text-align: center;
    }
    .exotic {
        font-size: 16px;
        text-align: center;
        margin: 0 5% 6% 5%;
        color: #8B8B8B;
    }
    .bottom-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a.bottom {
        text-decoration: none;
        border-radius: 20px;
        text-align: center;
        color: white;
        width: 195px;
        height: 40px;
        font-size: 14px;
    }
    a.first {
        margin-bottom: 10px;
        background-color: #407BFF;
    }
    a.second {
        background-color: #8B8B8B;
        width: 220px;
        height: 40px;
        margin-bottom: 11%;
    }

    /* SECOND SECTION */
    .second-section {
        display: flex;
        flex-direction: column;
    }
    h2 {
        font-size: 16px;
        text-align: center;
        margin-bottom: 4%;
    }
    .destination {
        font-size: 16px;
        text-align: center;
        margin: 0 5% 7% 5%;
        color: #8B8B8B;
    }
    .line {
        display: flex;
        justify-content: center;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 4px 6px #407BFF1F;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: flex-start;
        color: #8B8B8B;
    }
    .line.map,
    .line.cactus {
        margin-bottom: 5%;
    }
    .line.plane {
        margin-bottom: 11%;
    }
    .image-map,
    .image-cactus,
    .image-plane {
        padding: 4%;
    }
    .text1,
    .text2,
    .text3 {
        padding-left: 4%;
    }

    /* THIRD SECTION */
    .delegates {
        font-size: 16px;
        color: #8B8B8B;
        margin: 0 5% 7% 5%;
        text-align: center;
    }

    .line.palm,
    .line.umbrella {
        margin: 0 5% 7% 5%;
    }
    .image-palm,
    .image-umbrella,
    .image-caravan {
        padding: 4%;
    }
    .line.caravan {
        margin-bottom: 11%;
    }
    .text4,
    .text5,
    .text6 {
        padding-left: 4%;
    }
}

/* TABLET VERSION */

@media screen and (min-width: 650px) and (max-width: 1100px) {

    /* FIRST SECTION */
    .first-section {
        display: flex;
        flex-direction: column;
    }
    .first-image {
        margin: 6% 15% 3% 15%;
    }
    .image1 {
        text-align: center;
    }
    h1 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 4%;
    }
    .exotic {
        margin: 0 10% 4% 10%;
        text-align: center;
        color: #8B8B8B;
    }
    .bottom-flex {
        display: flex;
        justify-content: center;
    }
    a.bottom {
        text-decoration: none;
        border-radius: 20px;
        text-align: center;
        color: white;
        width: 195px;
        height: 40px;
        font-size: 14px;
    }
    a.first {
        margin-bottom: 10px;
        background-color: #407BFF;
    }
    a.second {
        background-color: #8B8B8B;
        width: 220px;
        height: 40px;
        margin-bottom: 11%;
        margin-left: 2%;
    }
    a.first {
        margin-right: 2%;
    }

    /* SECOND SECTION */
    h2 {
        font-size: 16px;
        text-align: center;
        margin-bottom: 4%;
    }
    .destination {
        text-align: center;
        margin-bottom: 8%;
        margin: 0 10% 8% 10%;
        color: #8B8B8B;
    }
    .lines {
        display: flex;
        text-align: center;
    }
    .line {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 4px 6px #407BFF1F;
        margin-left: 1%;
        margin-right: 1%;
        color: #8B8B8B;
        text-align: center;
        align-items: center;
        margin-bottom: 12%;
    }
    .line.map,
    .line.palm {
        margin-left: 2%;
    }
    .line.plane,
    .line.caravan {
        margin-right: 2%;
    }
    .image-cactus,
    .image-caravan,
    .image-map,
    .image-palm,
    .image-plane,
    .image-umbrella {
        padding: 20% 0 8% 0;
        width: 25%;
    }
    .text1,
    .text2,
    .text3,
    .text4,
    .text5,
    .text6 {
        padding: 0 7% 12% 7%;
    }

    /* THIRD-SECTION */

    .delegates {
        text-align: center;
        margin-bottom: 8%;
        margin: 0 10% 8% 10%;
        color: #8B8B8B;
    }
}

/* PC VERSION */

@media  screen and (min-width: 1100px) {

/* FIRST SECTION */

.first-section {
    display: flex;
    flex-direction: row-reverse;
    margin: 8% 13% 8% 7%;
}
.image1 {
    display: flex;
}
.happy {
    display: flex;
    flex-direction: column;
}
h1 {
    margin: 15% 0 10% 0;
    font-size: 28px;
}
.exotic {
    margin-bottom: 10%;
    width: 85%;

}
.first.bottom {
    margin-right: 2%;
}
a.bottom {
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 12px 30px 12px 30px;
}
a.first {
    background-color: #407BFF;
}
a.second {
    background-color: #8B8B8B;
}

/* SECOND SECTION */

.second-section {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 8% 8% 7%;
}
.odstavec1 {
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 5%;
    width: 70%;
}
.lines {
    display: flex;
    text-align: center;
}
.line {
    padding: 5% 4% 2% 4%;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px #407BFF1F;
    color: #8B8B8B;
}
.line.map {
    margin-right: 2%;
}
.line.cactus {
    margin-right: 2%;
}
.image-map,
.image-cactus,
.image-plane {
    padding: 15% 0 10% 0;
}
.text1,
.text2,
.text3 {
    font-size: 14px;
}
.destination {
    padding-top: 5%;
    color: #8B8B8B;
}

/* THIRD SECTION */

.third-section {
    display: flex;
    margin: 0 8% 8% 7%;
}
.odstavec2 {
    display: flex;
    flex-direction: column;
    padding: 5% 5% 5% 0;
    width: 70%;
}
.lines {
    display: flex;
    text-align: center;
}
.line {
    padding: 5% 4% 0 4%;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px #407BFF1F;
    color: #8B8B8B;
}
.line.palm {
    margin-right: 2%;
}
.line.umbrella {
    margin-right: 2%;
}
.image-palm,
.image-umbrella,
.image-caravan {
    padding: 15% 0 10% 0;
}
.text4,
.text5,
.text6 {
    font-size: 14px;
}
.delegates {
    padding-top: 5%;
    color: #8B8B8B;
}
}
